html {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    background: orange;
    color: #3b3b3d;
    text-align: center;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: lightgray;
}
.tab {
    padding: 8px 8px 8px 8px;
    margin: 5px 5px 5px 5px;
}
#ok_button {
    visibility: visible;
}
#record {
    visibility: hidden;
}
#result {
    color: darkblue;
}
#pickle {
    margin-top: 150px;
}
#img_search_bar {
    height: 30px;
    width: 300px;
}
#button {
    height: 30px;
    width: 50px;
}
.images {
    width: 320px; 
    height: 320px; 
}