html {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    background: lightblue;
    color: #3b3b3d;
    text-align: center;
}
#pickle {
    margin-top: 150px;
}
#bar {
    height: 30px;
    width: 300px;
}
.images {
    width: 320px; 
    height: 320px; 
}