<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type ="text/css" href="static/styles/style.css">
        <link rel="icon" href='https://img.icons8.com/metro/1600/search.png'>
        <title> Image Search </title>
    </head>
    <body>
        <div class='navbar'>
            <ul>
                <div class="tab">
                    <form action='/goto_song'>
                        <input id='song_tab' type="submit" value="Song Recognition"/>
                    </form>
                </div>
                <div class="tab">
                    <form action='/goto_search'>
                        <input id='search_tab' type="submit" value="Image Search Engine"/>
                    </form>
                </div>
                <div class="tab">
                    <form action='/goto_text'>
                        <input id='text_tab' type="submit" value="Text Generator"/>
                    </form>
                </div>
            </ul>
        </div>
        <br></br>
        <h2> Search: </h2>
        <form action="/submit_search">
            <input id="img_search_bar" name="search_bar" type="text" method="POST" action="/" placeholder="Search something..."/>
            <input id="button" type="submit"/>
        </form>
        <br></br>
        <img class="images" id ="img1" src={{image_url0}}>
        <img class="images" id ="img2" src={{image_url1}}>
        <img class="images" id ="img3" src={{image_url2}}>
        <img class="images" id ="img4" src={{image_url3}}>
        <img class="images" id ="img5" src={{image_url4}}>
        <img class="images" id ="img6" src={{image_url5}}>
        <img class="images" id ="img7" src={{image_url6}}>
        <img class="images" id ="img8" src={{image_url7}}>
            
    </body>
</html>