<div class='navbar'>
    <ul>
        <div class="tab">
            <form action='/goto_song'>
                <input id='song_tab' type="submit" value="Song Recognition"/>
            </form>
        </div>
        <div class="tab">
            <form action='/goto_search'>
                <input id='search_tab' type="submit" value="Image Search Engine"/>
            </form>
        </div>
        <div class="tab">
            <form action='/goto_text'>
                <input id='text_tab' type="submit" value="Text Generator"/>
            </form>
        </div>
    </ul>
</div>